* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
body {
    color: #000;
    width: 500px;
    height: 1000px;
}
.button {
    
}
.c {
    border-radius: 50%;
    color: orangered;
}