* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
font {
  background-color: white;
}
body {
  width: 428px;
  height: 926px;
}
.from {
  width: 428px;
  height: 926px;
  background-color: black;
}
.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  margin-top: 230px;
  font-size: 30px;
}
.text {
  position: relative;
  top: 200px;
  left: -300px;
  background-color: black;
  border: none;
  direction: rtl;
  color: white;
  font-size: 60px;
}
.status {
  position: relative;
  top: 16px;
}
.c {
  border-radius: 50%;
  background-color: orangered;
}
.clear {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: #a5a5a5;
  font-size: 34px;
  font-weight: 500;
}
.percent {
  font-size: 34px;
  font-weight: 500;
}
.minusplus {
  font-size: 34px;
  font-weight: 500;
}
.share,
.multiply,
.minus,
.plus,
.equally {
  background-color: #f1a33b;
  font-size: 34px;
  font-weight: 500;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.comma {
  width: 88px;
  height: 88px;
  border-radius: 50px;
  background-color: #333;
  font-size: 34px;
  font-weight: 500;
}
.zero {
  width: 200px;
  height: 88px;
  border-radius: 50px;
  background-color: #333;
  font-size: 34px;
  font-weight: 500;
}
button {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  font-size: 600;
  border: none;
  background-color: #a5a5a5;
}
